* {
  font-family: "ヒラギノ角ゴ Pro W3","メイリオ",Osaka,sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0; }

body {
  color: #4C4645; }

#header {
  padding-top: 10px;
  height: 50px; }

#side {
  background-color: #f4f4ef; }
  #side #nav {
    list-style: none outside none;
    padding-top: 10px; }

#store .product {
  padding-top: 10px;
  padding-bottom: 10px; }
  #store .product .name {
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 0; }
  #store .product .photo {
    width: 75px;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    float: left; }
  #store .product .price_line {
    text-align: right; }
  #store .product .price {
    font-weight: 700;
    font-size: 130%; }
#store .product .button_to {
  text-align: right;
}

#footer {
  font-size: 90%;
  text-align: center;
  padding-top: 10px; }

.cart-title {
  font-size: 130%;
}

.item-price, .total-line {
  text-align: right;
}

.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid;
}

#cart, #cart table {
  padding: 10px;
  font-size: 90%;
}

#cart table {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}
